<h3>Detailed Forecast for the Day</h3>
</br>
<table class="table table-striped">
    <thead>
        <tr><th>Data Point</th><th>Data</th></tr>
    </thead>
    <tbody>
{{#each currently}}
    <tr>
        <td><b>{{@key}}:</b></td>
        <td>{{this}}</td>
    </tr>
{{/each}} 
    </tbody>
</table>
