<table class="table table-striped">
    <tr><td><h3>Day</h3></td><td><h3>Forecast</h3></td><td><h3>Max/Min Temp</h3></td></tr>
{{#each daily.data}}
    <tr><td>{{@index}}</td>
    <td> {{summary}} </td>
    <td> {{apparentTemperatureMax}}/{{apparentTemperatureMin}} </td>
    </tr>
{{/each}}
</table>

